.media-slider__wrapper {
  background-color: var(--bg-color-dark);
  padding: 10px 0;
  margin-bottom: 40px;
  margin-right: 6px;
  height: 455px;
}

.media-slider__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2.media-slider__title {
  border-bottom: 2px solid red;
  font-size: 25px;
  margin: 0 15px;
}

.media-slider__view-all {
  text-decoration: none;
  margin: 0 15px;
  color: white;
}

.media-slider__cards--wrapper {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
}

.media-slider__card {
  margin: 10px 0.3%;
}

.media-slider__image {
  border-radius: 10px;
  padding: 0.8rem;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: scale 0.3s ease-in-out;
}

.media-slider__bookmark--icon {
  display: block;
  position: absolute;
  top: 18px;
  right: 23px;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  color: rgb(159, 152, 152);
  transition: .3 ease-in-out;
}

.media-slider__bookmark--icon.added {
  color: rgb(230, 0, 0, 1);
}

.media-slider__bookmark--icon:hover {
  color: rgb(255, 255, 255);
  transition: .3 ease-in-out;
}

.testing {
  position: relative;
  display: block;
  transition: 0.3s ease-in-out;
}

.testing:hover {
  scale: 1.05;
  transition: 0.15s ease-in-out;
}

@media (min-width: 600px){

}

@media (min-width: 900px){

}

@media (min-width: 1200px){
  
}

@media (min-width: 1400px){
  
}

@media (min-width: 1800px){
  
}

@media (min-width: 1900px){
  
}