media-slider__wrapper {
  background-color: var(--bg-color-dark);
  padding: 10px 0;
  margin-bottom: 20px;
  margin-right: 6px;
  height: 455px;
}
.media-slider__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2.media-slider__title {
  border-bottom: 2px solid red;
  font-size: 25px;
  margin: 0 15px;
}
.media-slider__view-all {
  text-decoration: none;
  margin: 0 15px;
  color: white;
}
.media-slider__cards--wrapper {
  /* padding: 10px 0;
  margin-bottom: 20px;
  margin-right: 6px; */
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.media-slider__card {
  margin: 10px .3%;
}
.media-slider__image {
  width: 259px;
  border-radius: 10px;
  scale: .95;
  transition: scale .3s;
}
.media-slider__image:hover {
  scale: 1;
  transition: scale .1s;
}

/* .media-slider__bookmark--icon {
  display: block;
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  color: rgb(230, 0, 0, 0.5);
}

.testing {
  position: relative;
  display: block;
  transition: 0.3s ease-in-out;
}

.testing:hover {
  scale: 1;
  transition: 0.3s ease-in-out;
} */
