.media-page__wrapper {
  background-color: var(--nav-bg-color);
  margin: 13% 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5%;
}
.media-page__title {
  display: block;
  margin: 0;
  font-size: 3rem;
}
.media-page__title--info {
  display: flex;
  list-style: none;
  margin: 0.5% 0 0 0;
  padding: 0;
  line-height: 0;
  font-size: .9rem;
}
.media-page__title--info li {
  color: var(--diminished-font);
  margin-right: 1%;
  font-weight: bold;
}
.media-page__sub-title {
  margin: .6rem 0;
  font-size: 1.5rem;
}
.media-page__head--grid {
  display: grid;
  grid-template-columns: 1fr;
}
.media-page__image {
  margin: 0 auto;
  width: 20rem;
}
.media-page__genres--wrapper {
  margin-top: 1%;
}
.media-page__genre {
  color: var(--primary-font);
  display: inline-block;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 19%);
  border-radius: 1rem;
  margin-right: 1%;
  padding: 0.2rem 1rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;
}
.media-page__genre:hover {
  border: 2px solid var(--accent-color)
}
.media-page__line {
  height: 1px;
  background-color: var(--accent-color);
  width: 100%;
  margin: 1.5% 0;
}
.media-page__summery {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

@media (min-width: 500px){
  .media-page__wrapper {
    margin: 50px 10% 0;
    padding: 1%;
    padding-bottom: 0.5%;
  }
  .media-page__head--grid {
    grid-template-columns: 300px 1fr;
    gap: 3%;
  }
}