.auth-container-outside {
  display: flex;
  justify-content: center;
}

.auth-container-inside {
  padding: 16px 50px 50px 50px;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  text-align: center;
}

.auth-form-inputs {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.auth-form-inputs label {
  margin-right: 10px;
}


