.auth-page-container {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-form-container {
  padding: 30px 40px;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 0, 0, 0.336);
  width: 50%;
  max-width: 500px;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.auth-title {
  color:var(--diminished-font);
  text-align: center;
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 20px;
}

.auth-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form-inputs label {
  color: var(--diminished-font);
  font-weight: lighter;
}

.auth-form-inputs input {
  font-size: 1.25rem;
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: .25em;
}



