.auth-page-container {
  display: flex;
  justify-content: center;
}

.auth-form-container {
  padding: 16px 50px 50px 50px;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  
  gap:20px;
}

.auth-form-inputs {
  display: flex;
  justify-content: right;
  align-items: center;
}


