.auth-page-container {
  display: flex;
  justify-content: center;
}

.auth-form-container {
  padding: 30px 40px;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.auth-title {
  color:white;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap:20px;
}

.auth-form-inputs {
  display: flex;
  justify-content: right;
  align-items: center;
}


