:root {
  --bg-color: #000000;
  --bg-color-dark: #080808;
  --nav-bg-color: #191819;
  --accent-color: #ff0000;
  
  --primary-font: #ffffff;

  --menu-active-width: 250px;
  --menu-inactive-width: 0px;

  --fast-transition-speed: .25s;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-font);
}

.mainscreen {
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0;
}

.nav__static-window {
  position: fixed;
  background: var(--bg-color-dark);
  color: black;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  -webkit-transform: translate(0em,0);
  -moz-transform: translate(0em,0);
  -o-transform: translate(0em,0);
  -ms-transform: translate(0em,0);
  transform: translate(0em,0);
  transition: transform var(--fast-transition-speed) ease-in-out;
}
.nav__static-window.inactive {
  -webkit-transform: translate(-100%,0);
  -moz-transform: translate(-100%,0);
  -o-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  transform: translate(-100%,0);
}
.nav__collapse-button{
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: var(--accent-color);
  z-index: 9998;
  transition: right var(--fast-transition-speed) ease-in-out;
}
.nav__collapse-button.inactive {
  right: -50px;
}
.nav__wrapper {
  position: absolute;
  width: 100%;
}
.nav__profile--wrapper {
  background: var(--nav-bg-color);
  margin-bottom: 5px;
}
.nav__profile--img {
  width: 50px;
  margin: 10px 12px;
}
.nav__genre-buttons--wrapper {
  box-sizing: border-box;
  text-size-adjust: none;
  background: var(--nav-bg-color);
  width: var(--menu-active-width);
  margin-bottom: 5px;
  width: 100%;
}
.nav__genre-button {
  display: block;
  box-sizing: border-box;
  border-left: solid 4px transparent;
  text-decoration: none;
  background-color: transparent;
  color: #9c9a9c;
  padding: 5% 4%;
  text-align: start;
  width: var(--menu-active-width);
  transition: border-left .2s;
}
.nav__genre-button:hover, .nav__genre-button:active {
  border-left: solid 4px var(--accent-color);
  font-weight: bold;
  color: #FFF;
  transition: border-left 0s;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 20vh;
}

h1.main-title {
  color: var(--accent-color);
  letter-spacing: .5em;
  text-transform: uppercase;
  font-size: 45px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.movie-slider__wrapper {
  background-color: var(--bg-color-dark);
  padding: 10px 0;
  margin-bottom: 20px;
  margin-right: 6px;
}
.movie-slider__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2.movie-slider__title {
  font-size: 25px;
  margin: 0 15px;
}
.movie-slider__view-all {
  text-decoration: none;
  margin: 0 15px;
  color: white;
}
.movie-slider__cards--wrapper {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.movie-slider__card {
  margin: 10px .3%;
}
.movie-slider__image {
  width: 259px;
  border-radius: 10px;
}

.genre-page__wrapper {
  margin-top: 50px;
  overflow: auto;
}
.genre-page__movies--grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.genre-page__movie {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}
.genre-page__movie--image {
  width: 185px;
  border-radius: 10px;
}

@media (min-width: 500px){

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  h1.main-title {
    letter-spacing: .5em;
    font-size: 500%;
    margin: 1% 0;
  }

  .mainscreen {
    margin-left: var(--menu-active-width);
    transition: margin-left var(--fast-transition-speed) ease-in-out;
  }
  .mainscreen.inactive {
    margin-left: var(--menu-inactive-width);
  }

  .nav__collapse-button.inactive {
    right: -50px;
    transition: right var(--fast-transition-speed) ease-in-out;
  }
  .nav__static-window {
    width: var(--menu-active-width);
  }
  .nav__genre-buttons--wrapper {
    width: var(--menu-active-width);
  }

  .movie-slider__image {
    transform: scale(.95);
    transition: transform .3s;
  }
  .movie-slider__image:hover {
    transform: scale(1);
    transition: transform .1s;
  }

  .genre-page__wrapper {
    margin-top: 60px;
  }
  .genre-page__movies--grid {
    width: 90%;
    grid-template-columns: repeat(6, auto);
  }
  .genre-page__movie--image {
    width: 259px;
    transform: scale(.95);
    transition: transform .3s;
  }
  .genre-page__movie--image:hover {
    transform: scale(1);
    transition: transform .1s;
  }
}