:root {
  --bg-color: #000000;
  --bg-color-dark: #080808;
  --nav-bg-color: #191819;
  --accent-color: #ff0000;
  
  --primary-font: #ffffff;
  --diminished-font: #8e8e8e;

  --menu-active-width: 250px;
  --menu-inactive-width: 0px;

  --fast-transition-speed: .25s;
}



body {
  background-color: var(--bg-color);
  color: var(--primary-font);
}

.mainscreen {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
}

@media (min-width: 500px){

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  div::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  .mainscreen {
    padding-left: var(--menu-active-width);
    transition: padding-left var(--fast-transition-speed) ease-in-out;
  }
  .mainscreen.inactive {
    padding-left: var(--menu-inactive-width);
  }
}